@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

body{
  background-color: black;
}

.container-b{
  background-color: black;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  
  
}
.header{
  display: flex;
  justify-content: space-between;
  margin-right: 4rem;
  margin-left: 4rem;
  height: 10%;
  align-items: center;
}
.header h1{
  font-family: 'Single Day';
  font-size: 3rem;
  color: #72DB73;
  font-weight: 400;
  margin: 0;
}
.avatar{
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: white;
}
.body-container{
  width: 100%;
  height: 90%;
 
  display: flex;
  justify-content: center;
}
.main-elements{
  width: 90%;
  height: 100%;
  
}
.main-elements h1{
  font-family:'DM Sans';
  color: white;
  font-size: 1.5rem;
}
.category-elements-b{
  width: 100%;
  height: 55%;
  color: #878787;
  font-family: 'DM Sans';
}
.paras button{
  width: 8rem;
  height: 2.3rem;
  border: none;
  background-color: #148A08;
  border-radius: 2.5rem;
  color: white;
  font-size: 1rem;
  font-family: 'DM Sans';
  margin-top: 1rem;
}

::-webkit-scrollbar{
  background:none;
  width: 0.7rem;
  height: 0.5rem;
}
::-webkit-scrollbar-thumb{
  background-color: #FFE6A6;
  border-radius: 1rem;
  
}