@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
.reg-page{
  background-image: url('../Assets/back1.png');
  background-size: 50% 120%;
  background-repeat: no-repeat;
  height: 100vh;
  
  background-color: black;
  display: flex;
}
.first-div{
  font-family:'Roboto';
  color: white;
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: relative;
}
.first-first-div{
  width: 70%;
  position: absolute;
  bottom: 4.5rem;
}
.first-first-div h1{
  font-size: 3rem;
  padding: 0;
  margin: 0;
}
.second-div{
  height: inherit;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.second-div h1{
  font-family: 'Single Day';
  font-size: 3.5rem;
  color: #72DB73;
  font-weight: 400;
  margin: 0;
}
.second-div h4{
  font-family: 'DM Sans';
  font-weight: 200;
  margin-bottom: 3rem;
  
}
form{
  display: flex;
  flex-direction: column;
}
form input[type=text]{
  margin: 0.7rem;
  width: 23rem;
  height: 2.9rem;
  border: none;
  background-color: #292929;
  border-radius: 0.1rem;
  font-family: 'DM Sans';
}
form input[type=number]{
  margin: 0.7rem;
  width: 23rem;
  height: 2.9rem;
  border: none;
  background-color: #292929;
  border-radius: 0.1rem;
  font-family: 'DM Sans';

}
form input[type=email]{
  margin: 0.7rem;
  width: 23rem;
  height: 2.9rem;
  border: none;
  background-color: #292929;
  border-radius: 0.1rem;
  font-family: 'DM Sans';
}

form input::placeholder{
  padding-left: 0.9rem;
  font-size: 1rem;
}
.checkbox1{
  width: 100%;
  display: flex;
  padding-left: 0.5rem;
  font-family: 'DM Sans';
  margin: 2rem 0 2rem 0;
}
form button{
  background-color: #72DB73;
  border: none;
  height: 3rem;
  width: 23rem;
  border-radius: 2.2rem;
  font-size: 1.4rem;
  font-family: 'DM Sans';
  font-weight: 600;
  color: white;
  letter-spacing: 0.2rem;
}