@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

.reg-page{
  background-image: url('../Assets/back1.png');
  background-size: 50% 120%;
  background-repeat: no-repeat;
  height: 100vh;
  
  background-color: black;
  display: flex;
}
.first-div{
  font-family:'Roboto';
  color: white;
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: relative;
}
.first-first-div{
  width: 70%;
  position: absolute;
  bottom: 3rem;
}
.first-first-div h1{
  font-size: 3rem;
  padding: 0;
  margin: 0;
}
/* .second-div{
  height: inherit;
  width: 50%;
  background-color: aqua;
} */